@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$orange-palette,
    tertiary: mat.$red-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    plain-family: 'Roboto',
  ),
));

html {
  @include mat.all-component-themes($theme);
  --mat-app-background-color: #f5f5f5;
}

* { box-sizing: border-box; }
body { margin: 0; font-family: Roboto, sans-serif; background: #f5f5f5; }
